version: 2.1

orbs:
  go: circleci/go@1.8.0
  slack: circleci/slack@4.10.1

jobs:
  release:
    docker:
      - image: us-docker.pkg.dev/oplabs-tools-artifacts/images/ci-builder:latest
    resource_class: medium
    steps:
      - checkout
      - run:
          name: "Install gh"
          command: |
            curl -fsSL https://cli.github.com/packages/githubcli-archive-keyring.gpg | dd of=/usr/share/keyrings/githubcli-archive-keyring.gpg
            chmod go+r /usr/share/keyrings/githubcli-archive-keyring.gpg
            echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/githubcli-archive-keyring.gpg] https://cli.github.com/packages stable main" > /etc/apt/sources.list.d/github-cli.list
            apt update
            apt install gh -y
      - run:
          name: "Checkout monorepo"
          command: |
            git clone -b inphi/pre-acc-program https://github.com/ethereum-optimism/optimism
      - run:
          name: "Capture Data"
          command: |
            make capture-chain-test-data
          working_directory: optimism/op-program
      - run:
          name: "Upload Data"
          command: ./upload-data.sh

workflows:
  release:
    jobs:
      - release:
          context:
            - oplabs-fpp-nodes
          filters:
            tags:
              only: /.*/
            branches:
              ignore: /.*/
